.instagram{
    color: palevioletred;
}

.facebook{
    color: #4267B2;
}
.twitter{
    color:#1DA1F2;
}
.youTube{
    color:	#FF0000;
}
.linkedIn{
    color:  #2867B2;
}
.accept{
background-color: black;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100vh;
    overflow-y: auto;

   
}
